In [ ]:
import pandas as pd
import numpy as np

**#Data pre-processing**

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
df1 = pd.read_csv("/content/drive/MyDrive/deviants_pg5/complted data/tmdb_movie_metadata.csv")

In [ ]:
df1['imdb_score'].dtype

dtype('float64')

In [ ]:
df1.shape

(5043, 28)

In [ ]:
list(df1.columns)

['color',
 'director_name',
 'num_critic_for_reviews',
 'duration',
 'director_facebook_likes',
 'actor_3_facebook_likes',
 'actor_2_name',
 'actor_1_facebook_likes',
 'gross',
 'genres',
 'actor_1_name',
 'movie_title',
 'num_voted_users',
 'cast_total_facebook_likes',
 'actor_3_name',
 'facenumber_in_poster',
 'plot_keywords',
 'movie_imdb_link',
 'num_user_for_reviews',
 'language',
 'country',
 'content_rating',
 'budget',
 'title_year',
 'actor_2_facebook_likes',
 'imdb_score',
 'aspect_ratio',
 'movie_facebook_likes']

In [ ]:
df1.isnull().sum()

color                         19
director_name                104
num_critic_for_reviews        50
duration                      15
director_facebook_likes      104
actor_3_facebook_likes        23
actor_2_name                  13
actor_1_facebook_likes         7
gross                        884
genres                         0
actor_1_name                   7
movie_title                    0
num_voted_users                0
cast_total_facebook_likes      0
actor_3_name                  23
facenumber_in_poster          13
plot_keywords                153
movie_imdb_link                0
num_user_for_reviews          21
language                      12
country                        5
content_rating               303
budget                       492
title_year                   108
actor_2_facebook_likes        13
imdb_score                     0
aspect_ratio                 329
movie_facebook_likes           0
dtype: int64

In [ ]:
list(df1.movie_title.head(10))

['Avatar\xa0',
 "Pirates of the Caribbean: At World's End\xa0",
 'Spectre\xa0',
 'The Dark Knight Rises\xa0',
 'Star Wars: Episode VII - The Force Awakens\xa0            ',
 'John Carter\xa0',
 'Spider-Man 3\xa0',
 'Tangled\xa0',
 'Avengers: Age of Ultron\xa0',
 'Harry Potter and the Half-Blood Prince\xa0']

In [ ]:
df2  = df1.loc[:,['movie_title','imdb_score']]
df2['rating'] = df2["imdb_score"]/2
df2.drop('imdb_score',axis=1,inplace=True)
df2

                                            movie_title  rating
0                                               Avatar     3.95
1             Pirates of the Caribbean: At World's End     3.55
2                                              Spectre     3.40
3                                The Dark Knight Rises     4.25
4     Star Wars: Episode VII - The Force Awakens    ...    3.55
...                                                 ...     ...
5038                           Signed Sealed Delivered     3.85
5039                         The Following                 3.75
5040                              A Plague So Pleasant     3.15
5041                                  Shanghai Calling     3.15
5042                                 My Date with Drew     3.30

[5043 rows x 2 columns]

In [ ]:
df2.to_csv("/content/drive/MyDrive/deviants_pg5/complted data/preprocessed_data/data2.csv",index=False)

In [ ]:
df1 = df1.loc[:,['director_name','actor_1_name','actor_2_name','actor_3_name','genres','movie_title','plot_keywords']]

In [ ]:
#df1[]

In [ ]:
# df1["director_name"] = df1["director_name"].replace(np.nan , "unknown") 
# df1["actor_1_name"] = df1["actor_1_name"].replace(np.nan , "unknown") 
# df1["actor_2_name"] = df1["actor_2_name"].replace(np.nan , "unknown") 
# df1['actor_3_name'] = df1['actor_3_name'].replace(np.nan, 'unknown')
# df1["plot_keywords"] = df1["plot_keywords"].replace(np.nan,"unknown")
df1 = df1.dropna(how = 'any')

In [ ]:
df1.plot_keywords

0                  avatar|future|marine|native|paraplegic
1       goddess|marriage ceremony|marriage proposal|pi...
2                     bomb|espionage|sequel|spy|terrorist
3       deception|imprisonment|lawlessness|police offi...
5       alien|american civil war|male nipple|mars|prin...
                              ...
5035                   assassin|death|guitar|gun|mariachi
5036          jewell|mongol|nostradamus|stepnicka|vallone
5037                  written and directed by cast member
5038               fraud|postal worker|prison|theft|trial
5042    actress name in title|crush|date|four word tit...
Name: plot_keywords, Length: 4781, dtype: object

In [ ]:
df1.isna().sum()

director_name    0
actor_1_name     0
actor_2_name     0
actor_3_name     0
genres           0
movie_title      0
plot_keywords    0
dtype: int64

In [ ]:
df1.director_name.isnull()
df1.actor_1_name.isnull().sum()
df1.actor_2_name.isnull().sum()
df1.actor_3_name.isnull().sum()

0

In [ ]:
df1

          director_name  ...                                      plot_keywords
0         James Cameron  ...             avatar|future|marine|native|paraplegic
1        Gore Verbinski  ...  goddess|marriage ceremony|marriage proposal|pi...
2            Sam Mendes  ...                bomb|espionage|sequel|spy|terrorist
3     Christopher Nolan  ...  deception|imprisonment|lawlessness|police offi...
5        Andrew Stanton  ...  alien|american civil war|male nipple|mars|prin...
...                 ...  ...                                                ...
5035   Robert Rodriguez  ...                 assassin|death|guitar|gun|mariachi
5036    Anthony Vallone  ...        jewell|mongol|nostradamus|stepnicka|vallone
5037       Edward Burns  ...                written and directed by cast member
5038        Scott Smith  ...             fraud|postal worker|prison|theft|trial
5042           Jon Gunn  ...  actress name in title|crush|date|four word tit...

[4781 rows x 7 columns]

In [ ]:
df1["genres"] = df1["genres"].str.replace("|"," ")
#df1['genres'] = df1['genres'].str.replace('|', ' ')
df1["plot_keywords"] = df1["plot_keywords"].str.replace("|"," ")

In [ ]:
df1.plot_keywords

0                  avatar future marine native paraplegic
1       goddess marriage ceremony marriage proposal pi...
2                     bomb espionage sequel spy terrorist
3       deception imprisonment lawlessness police offi...
5       alien american civil war male nipple mars prin...
                              ...
5035                   assassin death guitar gun mariachi
5036          jewell mongol nostradamus stepnicka vallone
5037                  written and directed by cast member
5038               fraud postal worker prison theft trial
5042    actress name in title crush date four word tit...
Name: plot_keywords, Length: 4781, dtype: object

In [ ]:
df1["movie_title"] = df1["movie_title"].str.lower()
df1["movie_title"][1]

"pirates of the caribbean: at world's end\xa0"

In [ ]:
df1['movie_title'] = df1['movie_title'].apply(lambda x : x[:-1])
df1["movie_title"][1]
####still not completed wrong output

"pirates of the caribbean: at world's end"

In [ ]:
df1.rename(columns={'plot_keywords':'keywords'},inplace=True)

In [ ]:
df1.head()

       director_name  ...                                           keywords
0      James Cameron  ...             avatar future marine native paraplegic
1     Gore Verbinski  ...  goddess marriage ceremony marriage proposal pi...
2         Sam Mendes  ...                bomb espionage sequel spy terrorist
3  Christopher Nolan  ...  deception imprisonment lawlessness police offi...
5     Andrew Stanton  ...  alien american civil war male nipple mars prin...

[5 rows x 7 columns]

In [ ]:
df1.to_csv("/content/drive/MyDrive/deviants_pg5/complted data/preprocessed_data/data.csv",index=False)