In [ ]:
import numpy as np
import pandas as pd

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

#Data preprocessing on credits.csv file

In [ ]:
credits = pd.read_csv('/content/drive/MyDrive/deviants_pg5/complted data/credits.csv')

In [ ]:
credits.head()

                                                cast  ...     id
0  [{'cast_id': 14, 'character': 'Woody (voice)',...  ...    862
1  [{'cast_id': 1, 'character': 'Alan Parrish', '...  ...   8844
2  [{'cast_id': 2, 'character': 'Max Goldman', 'c...  ...  15602
3  [{'cast_id': 1, 'character': "Savannah 'Vannah...  ...  31357
4  [{'cast_id': 1, 'character': 'George Banks', '...  ...  11862

[5 rows x 3 columns]

In [ ]:
keywords = pd.read_csv('/content/drive/MyDrive/deviants_pg5/complted data/keywords.csv')

In [ ]:
keywords

           id                                           keywords
0         862  [{'id': 931, 'name': 'jealousy'}, {'id': 4290,...
1        8844  [{'id': 10090, 'name': 'board game'}, {'id': 1...
2       15602  [{'id': 1495, 'name': 'fishing'}, {'id': 12392...
3       31357  [{'id': 818, 'name': 'based on novel'}, {'id':...
4       11862  [{'id': 1009, 'name': 'baby'}, {'id': 1599, 'n...
...       ...                                                ...
46414  439050             [{'id': 10703, 'name': 'tragic love'}]
46415  111109  [{'id': 2679, 'name': 'artist'}, {'id': 14531,...
46416   67758                                                 []
46417  227506                                                 []
46418  461257                                                 []

[46419 rows x 2 columns]

In [ ]:
keywords

           id                                           keywords
0         862  [{'id': 931, 'name': 'jealousy'}, {'id': 4290,...
1        8844  [{'id': 10090, 'name': 'board game'}, {'id': 1...
2       15602  [{'id': 1495, 'name': 'fishing'}, {'id': 12392...
3       31357  [{'id': 818, 'name': 'based on novel'}, {'id':...
4       11862  [{'id': 1009, 'name': 'baby'}, {'id': 1599, 'n...
...       ...                                                ...
46414  439050             [{'id': 10703, 'name': 'tragic love'}]
46415  111109  [{'id': 2679, 'name': 'artist'}, {'id': 14531,...
46416   67758                                                 []
46417  227506                                                 []
46418  461257                                                 []

[46419 rows x 2 columns]

In [ ]:
meta = pd.read_csv('/content/drive/MyDrive/deviants_pg5/complted data/movies_metadata.csv')

/usr/local/lib/python3.6/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (10) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [ ]:
meta

       adult  ... vote_count
0      False  ...     5415.0
1      False  ...     2413.0
2      False  ...       92.0
3      False  ...       34.0
4      False  ...      173.0
...      ...  ...        ...
45461  False  ...        1.0
45462  False  ...        3.0
45463  False  ...        6.0
45464  False  ...        0.0
45465  False  ...        0.0

[45466 rows x 24 columns]

In [ ]:
list(meta.columns)

['adult',
 'belongs_to_collection',
 'budget',
 'genres',
 'homepage',
 'id',
 'imdb_id',
 'original_language',
 'original_title',
 'overview',
 'popularity',
 'poster_path',
 'production_companies',
 'production_countries',
 'release_date',
 'revenue',
 'runtime',
 'spoken_languages',
 'status',
 'tagline',
 'title',
 'video',
 'vote_average',
 'vote_count']

In [ ]:
meta['release_date'] = pd.to_datetime(meta['release_date'], errors='coerce')

In [ ]:
meta['year'] = meta['release_date'].dt.year

In [ ]:
meta['year'].value_counts().sort_index()

1874.0       1
1878.0       1
1883.0       1
1887.0       1
1888.0       2
          ...
2015.0    1905
2016.0    1604
2017.0     532
2018.0       5
2020.0       1
Name: year, Length: 135, dtype: int64

In [ ]:
new_meta = meta.loc[meta.year == 2017,['genres','id','title','year']]

In [ ]:
new_meta

                                                  genres  ...    year
26560  [{'id': 12, 'name': 'Adventure'}, {'id': 28, '...  ...  2017.0
26561  [{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...  ...  2017.0
26565  [{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...  ...  2017.0
26566  [{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...  ...  2017.0
30536  [{'id': 14, 'name': 'Fantasy'}, {'id': 28, 'na...  ...  2017.0
...                                                  ...  ...     ...
45398  [{'id': 10749, 'name': 'Romance'}, {'id': 35, ...  ...  2017.0
45417  [{'id': 80, 'name': 'Crime'}, {'id': 35, 'name...  ...  2017.0
45437  [{'id': 10751, 'name': 'Family'}, {'id': 16, '...  ...  2017.0
45453  [{'id': 80, 'name': 'Crime'}, {'id': 18, 'name...  ...  2017.0
45465                                                 []  ...  2017.0

[532 rows x 4 columns]

In [ ]:
new_meta['id'] = new_meta['id'].astype(int)

In [ ]:
data = pd.merge(new_meta, credits, on='id')

In [ ]:
data = pd.merge(data, keywords, on='id')

In [ ]:
data

                                                genres  ...                                           keywords
0    [{'id': 12, 'name': 'Adventure'}, {'id': 28, '...  ...  [{'id': 658, 'name': 'sea'}, {'id': 3799, 'nam...
1    [{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...  ...  [{'id': 849, 'name': 'dc comics'}, {'id': 9717...
2    [{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...  ...  [{'id': 8828, 'name': 'marvel comic'}, {'id': ...
3    [{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...  ...  [{'id': 9663, 'name': 'sequel'}, {'id': 9715, ...
4    [{'id': 14, 'name': 'Fantasy'}, {'id': 28, 'na...  ...  [{'id': 4978, 'name': 'immortality'}, {'id': 5...
..                                                 ...  ...                                                ...
527  [{'id': 10749, 'name': 'Romance'}, {'id': 35, ...  ...  [{'id': 2486, 'name': 'fantasy'}, {'id': 14751...
528  [{'id': 80, 'name': 'Crime'}, {'id': 35, 'name...  ...  [{'id': 9663, 'name': 'sequel'}, {'id': 156321...
529  [{'id': 10751, 'name': 'Family'}, {'id': 16, '...  ...  [{'id': 9673, 'name': 'love'}, {'id': 13130, '...
530  [{'id': 80, 'name': 'Crime'}, {'id': 18, 'name...  ...  [{'id': 155794, 'name': 'physical abuse'}, {'i...
531                                                 []  ...                                                 []

[532 rows x 7 columns]

In [ ]:
# evaluates an expression node or a string containing a Python literal or container display
import ast
data['genres'] = data['genres'].map(lambda x: ast.literal_eval(x))
data['cast'] = data['cast'].map(lambda x: ast.literal_eval(x))
data['crew'] = data['crew'].map(lambda x: ast.literal_eval(x))
data['keywords'] = data['keywords'].map(lambda x: ast.literal_eval(x))

In [ ]:
def make_genresList(x):
    gen = []
    st = " "
    for i in x:
        if i.get('name') == 'Science Fiction':
            scifi = 'Sci-Fi'
            gen.append(scifi)
        else:
            gen.append(i.get('name'))
    if gen == []:
        return np.NaN
    else:
        return (st.join(gen))

In [ ]:
def make_keywordsList(x):
    keyw = []
    st = " "
    for i in x:
        keyw.append(i.get('name'))
    if keyw == []:
        return np.NaN
    else:
        return (st.join(keyw))

In [ ]:
data['genres_list'] = data['genres'].map(lambda x: make_genresList(x))
data['keywords'] = data['keywords'].map(lambda x: make_keywordsList(x))

In [ ]:
data['genres_list']

0      Adventure Action Fantasy Comedy
1      Action Adventure Fantasy Sci-Fi
2      Action Adventure Fantasy Sci-Fi
3       Action Adventure Comedy Sci-Fi
4             Fantasy Action Adventure
                    ...
527                     Romance Comedy
528         Crime Comedy Action Family
529    Family Animation Romance Comedy
530               Crime Drama Thriller
531                                NaN
Name: genres_list, Length: 532, dtype: object

In [ ]:
def get_actor1(x):
    casts = []
    for i in x:
        casts.append(i.get('name'))
    if casts == []:
        return np.NaN
    else:
        return (casts[0])

In [ ]:
data['actor_1_name'] = data['cast'].map(lambda x: get_actor1(x))

In [ ]:
def get_actor2(x):
    casts = []
    for i in x:
        casts.append(i.get('name'))
    if casts == [] or len(casts)<=1:
        return np.NaN
    else:
        return (casts[1])

In [ ]:
data['actor_2_name'] = data['cast'].map(lambda x: get_actor2(x))

In [ ]:
data['actor_2_name']

0       Javier Bardem
1        Henry Cavill
2      Tom Hiddleston
3         Zoe Saldana
4        William Hurt
            ...
527     Rosa Honkonen
528     Wallace Shawn
529               NaN
530         Sajal Ali
531               NaN
Name: actor_2_name, Length: 532, dtype: object

In [ ]:
def get_actor3(x):
    casts = []
    for i in x:
        casts.append(i.get('name'))
    if casts == [] or len(casts)<=2:
        return np.NaN
    else:
        return (casts[2])

In [ ]:
data['actor_3_name'] = data['cast'].map(lambda x: get_actor3(x))

In [ ]:
data['actor_3_name']

0        Geoffrey Rush
1            Gal Gadot
2       Cate Blanchett
3        Dave Bautista
4      Benjamin Walker
            ...
527     Tiitus Rantala
528        Gina Holden
529                NaN
530     Akshaye Khanna
531                NaN
Name: actor_3_name, Length: 532, dtype: object

In [ ]:
def get_directors(x):
    dt = []
    st = " "
    for i in x:
        if i.get('job') == 'Director':
            dt.append(i.get('name'))
    if dt == []:
        return np.NaN
    else:
        return (st.join(dt))

In [ ]:
data['director_name'] = data['crew'].map(lambda x: get_directors(x))

In [ ]:
data['director_name']

0      Joachim Rønning Espen Sandberg
1                         Zack Snyder
2                       Taika Waititi
3                          James Gunn
4                       Sean McNamara
                    ...
527                  Hannaleena Hauru
528             Jonathan A. Rosenbaum
529          Beth David Esteban Bravo
530                      Ravi Udyawar
531                     Daisy Asquith
Name: director_name, Length: 532, dtype: object

In [ ]:
movie = data.loc[:,['director_name','actor_1_name','actor_2_name','actor_3_name','genres_list','title','keywords']]

In [ ]:
movie

                      director_name  ...                                           keywords
0    Joachim Rønning Espen Sandberg  ...  sea ship sequel artifact treasure map pirate p...
1                       Zack Snyder  ...  dc comics based on comic super powers dc exten...
2                     Taika Waititi  ...  marvel comic sequel superhero based on comic f...
3                        James Gunn  ...  sequel superhero based on comic misfit space o...
4                     Sean McNamara  ...  immortality mermaid period drama illegitimate ...
..                              ...  ...                                                ...
527                Hannaleena Hauru  ...                                fantasy youth weird
528           Jonathan A. Rosenbaum  ...                          sequel tv movie buddy cop
529        Beth David Esteban Bravo  ...                           love teenager lgbt short
530                    Ravi Udyawar  ...                      physical abuse sexual assault
531                   Daisy Asquith  ...                                                NaN

[532 rows x 7 columns]

In [ ]:
movie.isna().sum()

director_name      4
actor_1_name      22
actor_2_name      55
actor_3_name      70
genres_list        7
title              0
keywords         133
dtype: int64

In [ ]:
movie = movie.dropna(how='any')

In [ ]:
movie.isna().sum()

director_name    0
actor_1_name     0
actor_2_name     0
actor_3_name     0
genres_list      0
title            0
keywords         0
dtype: int64

In [ ]:
movie = movie.rename(columns={'genres_list':'genres'})
movie = movie.rename(columns={'title':'movie_title'})

In [ ]:
movie['movie_title'] = movie['movie_title'].str.lower()

In [ ]:
movie['comb'] = movie['actor_1_name'] + ' ' + movie['actor_2_name'] + ' '+ movie['actor_3_name'] + ' '+ movie['director_name'] +' ' + movie['genres'] + ' ' + movie['keywords']

In [ ]:
movie.keywords

0      sea ship sequel artifact treasure map pirate p...
1      dc comics based on comic super powers dc exten...
2      marvel comic sequel superhero based on comic f...
3      sequel superhero based on comic misfit space o...
4      immortality mermaid period drama illegitimate ...
                             ...
524                                      bad luck spirit
526                                                  emt
527                                  fantasy youth weird
528                            sequel tv movie buddy cop
530                        physical abuse sexual assault
Name: keywords, Length: 350, dtype: object

In [ ]:
old = pd.read_csv('/content/drive/MyDrive/deviants_pg5/complted data/preprocessed_data/data.csv')

In [ ]:
old

          director_name  ...                                           keywords
0         James Cameron  ...             avatar future marine native paraplegic
1        Gore Verbinski  ...  goddess marriage ceremony marriage proposal pi...
2            Sam Mendes  ...                bomb espionage sequel spy terrorist
3     Christopher Nolan  ...  deception imprisonment lawlessness police offi...
4        Andrew Stanton  ...  alien american civil war male nipple mars prin...
...                 ...  ...                                                ...
4776   Robert Rodriguez  ...                 assassin death guitar gun mariachi
4777    Anthony Vallone  ...        jewell mongol nostradamus stepnicka vallone
4778       Edward Burns  ...                written and directed by cast member
4779        Scott Smith  ...             fraud postal worker prison theft trial
4780           Jon Gunn  ...  actress name in title crush date four word tit...

[4781 rows x 7 columns]

In [ ]:
old['comb'] = old['actor_1_name'] + ' ' + old['actor_2_name'] + ' '+ old['actor_3_name'] + ' '+ old['director_name'] +' ' + old['genres'] + ' ' + old['keywords']

In [ ]:
old.iloc[0]['comb']

'CCH Pounder Joel David Moore Wes Studi James Cameron Action Adventure Fantasy Sci-Fi avatar future marine native paraplegic'

In [ ]:
new = old.append(movie)

In [ ]:
new

             director_name  ...                                               comb
0            James Cameron  ...  CCH Pounder Joel David Moore Wes Studi James C...
1           Gore Verbinski  ...  Johnny Depp Orlando Bloom Jack Davenport Gore ...
2               Sam Mendes  ...  Christoph Waltz Rory Kinnear Stephanie Sigman ...
3        Christopher Nolan  ...  Tom Hardy Christian Bale Joseph Gordon-Levitt ...
4           Andrew Stanton  ...  Daryl Sabara Samantha Morton Polly Walker Andr...
..                     ...  ...                                                ...
524             Anshai Lal  ...  Anushka Sharma Diljit Dosanjh Suraj Sharma Ans...
526            Farhad Mann  ...  Adelaide Kane Benjamin Hollingsworth Jean Loui...
527       Hannaleena Hauru  ...  Inka Haapamäki Rosa Honkonen Tiitus Rantala Ha...
528  Jonathan A. Rosenbaum  ...  Lou Diamond Phillips Wallace Shawn Gina Holden...
530           Ravi Udyawar  ...  Sridevi Kapoor Sajal Ali Akshaye Khanna Ravi U...

[5131 rows x 8 columns]

In [ ]:
new.drop_duplicates(subset ="movie_title", keep = 'last', inplace = True)

In [ ]:
new.iloc[-1]

director_name                                         Ravi Udyawar
actor_1_name                                        Sridevi Kapoor
actor_2_name                                             Sajal Ali
actor_3_name                                        Akshaye Khanna
genres                                        Crime Drama Thriller
movie_title                                                    mom
keywords                             physical abuse sexual assault
comb             Sridevi Kapoor Sajal Ali Akshaye Khanna Ravi U...
Name: 530, dtype: object

In [ ]:
new.to_csv('/content/drive/MyDrive/deviants_pg5/complted data/preprocessed_data/new_data.csv',index=False)